<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>585361405756-76t1e4fkqcj13jg1pjb5kb2mqiul0oso.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.585361405756-76t1e4fkqcj13jg1pjb5kb2mqiul0oso</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>585361405756-760vn01hcqrn29fh6usbvck247d18q1n.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDafe74iLfHa2r1IiACysy0lvN6cCRLaVw</string>
	<key>GCM_SENDER_ID</key>
	<string>585361405756</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.routespay.routespay.routesPay2</string>
	<key>PROJECT_ID</key>
	<string>routes-pay</string>
	<key>STORAGE_BUCKET</key>
	<string>routes-pay.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:585361405756:ios:ae63c8b1c076b8e8375039</string>
</dict>
</plist>